.form {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.textField {
    box-sizing: border-box;
    border-radius: 0.3rem;
    padding: 1rem;
    border: 3px solid var(--secondary-button);
    background-color: transparent;
    color: var(--text);
    width: 100%;
    font-size: 0.9rem;
}

$placeholder: "";
.inputContainer
{
    position: relative;
    margin: 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    $placeholder: var(--placeholder);
    &::before {
        position: absolute;
        content: $placeholder;
        top: 0;
        left: 0.5rem;
        transform: translate(0, -50%);
        background-color: var(--background);
        padding: 0.3rem;
        font-size: min(16px, 4vw);
    }
    .iconVisible {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translate(0, -50%);
        font-size: 2rem;
        &:hover {
            cursor: pointer;
        }
    }

    .iconInisible {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translate(0, -50%);
        font-size: 2rem;
        &:hover {
            cursor: pointer;
        }
    }
}

.passwordField {
    box-sizing: border-box;
    padding-right: 4rem;
    width: calc(100%);
}

.submit {
    background-color: var(--primary-button);
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    &:hover {
        cursor: pointer;
    }
}